pandas
numpy
matplotlib
seaborn
plotly

jupyter
notebook
ipykernel

streamlit

sqlalchemy
mysql-connector-python
pymysql

openpyxl
pyarrow

scikit-learn

geopandas
folium

requests

python-dotenv

tqdm
openmeteo-requests
requests-cache 
retry-requests